.form-group {
    color: #0D3073;
}

.form-control {
    color: #0D3073;
}
/* Estilos para los inputs y selects */
.form-control {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    box-sizing: border-box; /* Asegurar que el padding no afecte al ancho */
  }
  
  /* Media query para dispositivos móviles */
  @media (max-width: 768px) {
    .form-control {
      margin-bottom: 10px; /* Agregar espacio entre los elementos */
    }
  }
  